services:
  api:
    ports:
      - "8080:8080"
    image: file-sharing-api:local
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - public

  nginx:
    profiles:
      - prod
