name: CD

on:
  workflow_run:
    workflows: ["CI testing"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Decrypt .env
        run: |
          echo "Decrypting..."
          sops --decrypt --input-type dotenv --output-type dotenv --output .env dev.enc
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

      - name: Start containers

        run: docker compose up -d --build
