name: CD

on:
  workflow_run:
    workflows: ["CI testing"]
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Start test
        shell: bash
        env:
          PGPASSWORD: ${{ secrets.PGPASSWORD_TEST }}
        run: |
          docker rm -f test-postgres || true

          docker run -d \
            --name test-postgres \
            -e POSTGRES_USER=postgres \
            -e POSTGRES_PASSWORD="$PGPASSWORD" \
            -e POSTGRES_DB=file_sharing_test \
            -p 5433:5432 \
            postgres:17-alpine

          echo "Waiting for Postgres..."
          for i in {1..20}; do
            docker exec test-postgres pg_isready -U postgres && break
            sleep 1
          done

      # Run tests
      - name: Run tests
        shell: bash
        env:
          DATABASE_URL: postgres://postgres:${{ secrets.PGPASSWORD_TEST }}@localhost:5433/file_sharing_test?sslmode=disable
        run: |
          go test -v ./test

      - name: Cleanup test postgres
        if: always()
        shell: bash
        run: |
          docker rm -f test-postgres || true

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build & Push image
        shell: bash
        env:
          IMAGE: ghcr.io/${{ github.repository }}:${{ github.event.workflow_run.head_sha }}
        run: |
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

      - name: Decrypt .env
        shell: bash
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          sops --decrypt --input-type dotenv --output-type dotenv --output .env prod.enc

      - name: Set image tag
        shell: bash
        run: |
          echo "IMAGE_TAG=${{ github.event.workflow_run.head_sha }}" >> "$GITHUB_ENV"

      - name: Deploy with docker compose
        shell: bash
        run: |
          docker compose pull
          docker compose up -d
