name: CI testing

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  run-ci-testing:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache: true
      - name: Build
        run: go build -v ./...
      - name: Run tests
        run: go test -v ./...
